<?xml version="1.0" encoding="UTF-8"?>

<web-app>
 <display-name>Archetype Created Web Application</display-name>
 <servlet>
  <servlet-name>mvc</servlet-name> <!-- servlet-mapping에 의해 모든 요청(/)이 DispatcherServlet으로 들어가게 됨.(DispatcherServlet이 FrontController가 됨.)-->
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
   <param-name>contextClass</param-name> <!-- Bean 사용을 위한 부분 -->
   <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </init-param>
  <init-param>
   <param-name>contextConfigLocation</param-name> <!-- DispatcherServlet에 대한 설정파일(config)의 위치를 알려줌 -->
   <param-value>kr.or.connect.mvcexam.config.WebMvcContextConfiguration</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>mvc</servlet-name>
  <url-pattern>/</url-pattern>        <!-- 모든 요청(/)에 대해서  servlet-name(mvc)과 같은 name을 가진 servlet-class를 실행한다.-->
 </servlet-mapping>
</web-app>
